@import "media-queries";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
    text-decoration: none;
}

.signFont {
    font-family: "Caveat", cursive;
    font-style: italic;
    font-weight: 400;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    background-image: url(../img/bgimage.jpg);
    background-position: center;
    background-size: cover;
}

header {
    height: 15vh;
    flex: wrap;

    img {
        width: 7rem;
        height: 7rem;
        cursor: pointer;
        position: relative;
        top: 1rem;
        left: 0.2;

        @include mobile {
            width: 7rem;
            height: 7rem;
            position: relative;
            left: 1rem;
        }
    }

    h4 {
        font-size: 1.5rem;
        position: relative;
        color: aliceblue;
        top: 1rem;
        right: 30rem;
        @include mobile {
            font-size: 1.2rem;
            position: absolute;
            color: aliceblue;
            top: 4.5rem;
            right: 8rem;
        }
    }
    a {
        color: red;
    }
}

.container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    h1 {
        font-size: 3rem;
        color: aliceblue;
        position: absolute;
        left: 16rem;
        top: 14rem;

        @include mobile {
            font-size: 2.7rem;
            position: absolute;
            color: aliceblue;
            left: 3rem;
            top: 22rem;
        }
    }
}
